body
{
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #FFFFFF;
    background: url("page1.jpg")  no-repeat;
}
#tool
{
    position: absolute;
    width: 532px;
    height: 109px;
    left: 0px;
    top: 0px;
    background: #D9D9D9;
    border-radius: 0px 0px 15px 0px;
}
#toolbox
{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 1425px;
    top: 77px;
}
.tools
{
    position: absolute;
    width: 75px;
    height: 75px;
    left: 323px;
    top: 14px;
}